@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap");

/////////////////
// RESET
/////////////////
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
p,
ul {
  color: #7e8099;
}
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: hidden;
}

/////////////////
// NAVBAR
/////////////////
.mobile-menu {
  position: relative;
  .mobile-menu__hamburger {
    right: 20px;
    top: 20px;
    background: linear-gradient(#fe7570, #f73987);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    z-index: 2;
    div {
      width: 30px;
      margin: 5px auto;
      border: 3.5px solid #33d2fd;
    }
  }
  nav {
    position: fixed;
    z-index: 1;
    text-align: center;
    animation: openMenu 0.8s ease forwards;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    display: flex;
    flex-direction: column;
    a {
      padding: 10px 0;
      color: white;
      text-decoration: none;
    }
    .active {
      color: #f73987;
      font-weight: 700;
    }
  }
  @keyframes openMenu {
    from {
      width: 0px;
      display: block;
    }
    to {
      width: 100%;
    }
  }
}
.navbar__top {
  .logo {
    color: aqua;
    width: 100px;
    padding: 20px;
  }
  nav {
    display: none;
  }
}
/////////////////
// HOME
/////////////////
#home {
  background: url("/img/Hero-Background.png") center center / cover;
  border-bottom: 1px solid #000;
  .hero {
    margin: 0 auto;
    text-align: center;

    .hero__text {
      color: white;

      h1 {
        font-size: 2.2rem;
      }
      p {
        margin-top: 2rem;
        font-size: 1rem;
        color: white;
      }
    }
    .hero__call-to-action {
      padding: 3rem 0 6.5rem 0;
      button {
        cursor: pointer;
        padding: 0.75rem;
        border-radius: 10px;
        background: #ffffff;
        border: 1px white solid;
        margin-bottom: 100px;
        font-weight: 600;
      }
      button:nth-child(2) {
        margin-left: 2rem;
        background: transparent;
        color: white;
      }
    }
    .hero__phone {
      display: none;
    }
  }
}
/////////////////
// ABOUT
/////////////////
/////////////////
// ABOUT-FIRST
/////////////////
.about-first {
  background: url("/img/Marketing1-Background.png") center center/cover;
  height: 1700px;
  position: relative;
  top: -210px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  .about-first__phone img {
    display: none;
  }
  .about-first__adds {
    width: 100vw;

    padding-top: 240px;

    .about-first__adds__single {
      text-align: center;
      padding: 1rem;
      width: 90vw;
      margin: 30px auto;
      background: white;
      box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
      img {
        margin-top: 4rem;
      }
      h5 {
        font-weight: 600;
        margin: 2rem auto;
        font-size: 1rem;
      }
      p {
        margin-bottom: 2.5rem;
      }
    }
  }
}
/////////////////
// ABOUT-SECOND
/////////////////
.about-second {
  margin-top: 50px;
  .about-second__left {
    margin: 20px 20px;
    padding: 20px;
    width: 90vw;
    h2 {
      margin-top: -10rem;
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      margin-top: 2rem;
    }
    button {
      display: block;
      margin: 2rem auto;
      padding: 1rem 3rem;
      font-size: 1rem;
      font-weight: 600;
      color: white;
      background: #33d2fd;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }

  .about-second__right {
    .about-second__right__single-card {
      box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
      width: 90%;
      margin: 20px auto;
      display: flex;
      img {
        margin: 2rem 1rem;
        height: 1.7rem;
      }
      div {
        h5 {
          margin-top: 2rem;
          font-size: 1rem;
          font-weight: 600;
        }
        p {
          display: none;
        }
      }
      &:hover {
        background: #33d2fd;
        p {
          padding: 1rem 0;
          display: inline-block;
          color: white;
        }
      }
    }
  }
}
/////////////////
// ABOUT-THIRD
/////////////////
.about-third {
  // height: 475px;
  background: #fafafc;

  .about-third__left {
    img {
      display: none;
    }
  }
  .about-third__right {
    width: 90vw;
    margin: 0 auto;
    h5 {
      margin-top: 5rem;
      margin-bottom: 3rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .android,
    .ios {
      display: flex;
      margin: 1.5rem auto;

      img {
        margin-right: 1rem;
      }
      h6 {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    p {
      margin-top: 3rem;
      margin-bottom: 5rem;
    }
  }
}
/////////////////
// APP
/////////////////
#app {
  background: url("/img/Marketing4-Vector-Bg.png") center center/cover;
  position: relative;
  .app-container {
    width: 90%;
    margin: 0 auto;
    //display: flex;

    img {
      display: none;
    }
    .app-container__card {
      padding: 10px;
      h5 {
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        color: white;
        margin-top: 2.5rem;
        margin-bottom: -2rem;
        font-size: 1rem;
      }
      .app-container__card__icons {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        img {
          margin: 40px auto -20px auto;
          display: block;
        }
      }
    }
  }
  .button {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      display: block;
      position: relative;
      bottom: -35px;
      margin: 0 auto;
      width: 370px;
      height: 70px;
      background: linear-gradient(#fe7570, #f73987);
      border: none;
      color: white;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
/////////////////
// INFO
/////////////////
.info-links {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  width: 100%;
  .info-links__single {
    width: 20%;
    h5 {
      font-size: 0.8rem;
      font-weight: 600;
    }
    ul {
      margin-top: 0.6rem;
      list-style: none;
      li {
        padding: 0.5rem 0;
      }
    }
  }
}
.info-newsletter {
  text-align: center;
  margin-top: 6.5rem;

  p {
    margin-top: 2rem;
  }
  form {
    margin: 4.5rem auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    input {
      width: 100%;
      height: 3rem;
      background: #f6f7fb;
      border: none;
    }
    input[type="submit"] {
      max-width: 170px;
      margin-left: 2rem;
      background: #33d2fd;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
/////////////////
// FOOTER
/////////////////
.footer {
  background: #233148;
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  p {
    display: block;
    width: 100%;
  }
  .social-links {
    display: block;
    width: 100%;
    margin-top: 2rem;

    a {
      margin: 0 0.5rem;
      &:nth-child(5) {
        margin: 0 0 0 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 890px) {
  /////////////////
  // NAVBAR
  /////////////////
  .mobile-menu {
    display: none;
  }
  .navbar__top {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;

    .logo {
      color: aqua;
      width: 100px;
    }

    nav {
      display: block;
      a {
        padding: 25px;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
      }
      .active {
        color: #f73987;
        font-weight: 700;
      }
    }
  }

  /////////////////
  // HOME
  /////////////////
  #home {
    background: url("/img/Hero-Background.png") center center / cover;

    .hero {
      margin: 150px auto 0 auto;
      text-align: center;

      .hero__text {
        color: white;

        h1 {
          font-size: 3rem;
        }
        p {
          margin-top: 2rem;
          font-size: 1rem;
        }
      }
      .hero__call-to-action {
        margin-top: 3rem;
        button {
          padding: 0.75rem;
          border-radius: 10px;
          background: #ffffff;
          border: 1px white solid;
          cursor: pointer;
          font-weight: 600;
        }
        button:nth-child(2) {
          margin-left: 2rem;
          background: transparent;
          color: white;
        }
      }
      .hero__phone {
        display: block;
        position: relative;
        bottom: -5rem;
      }
    }
  }

  /////////////////
  // ABOUT
  /////////////////
  /////////////////
  // ABOUT-FIRST
  /////////////////
  .about-first {
    background: url("/img/Marketing1-Background.png") center center/cover;
    height: 1100px;
    position: relative;
    top: -140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .about-first__phone img {
      display: block;
      margin: 5px;
      height: 560px;
      width: 260px;
      margin-bottom: 430px auto 250px auto;
      position: relative;
      bottom: -150px;
    }
    .about-first__adds {
      width: 670px;
      min-width: 620px;
      position: relative;
      .about-first__adds__single {
        position: absolute;
        text-align: center;
        padding: 1rem;
        width: 270px;
        background: white;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
        img {
          margin-top: 4rem;
        }
        h5 {
          font-weight: 600;
          margin: 2rem auto;
          font-size: 1rem;
        }
        p {
          margin-bottom: 2.5rem;
        }

        &:nth-child(1) {
          bottom: 70px;
          left: 70px;
        }
        &:nth-child(2) {
          bottom: -0px;
          right: 0;
        }
        &:nth-child(3) {
          top: 0;
          left: 0;
          margin-top: 200px;
        }
        &:nth-child(4) {
          top: 70px;
          right: 70px;
          margin-top: 200px;
        }
      }
    }
  }
  /////////////////
  // ABOUT-SECOND
  /////////////////
  .about-second {
    display: flex;
    height: 630px;
    background: #ffffff;
    justify-content: space-between;

    .about-second__left {
      max-width: 470px;
      text-align: right;
      margin: 0 20px;
      h2 {
        margin-top: 6rem;
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        margin-top: 4rem;
      }
      button {
        margin-top: 2rem;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background: #33d2fd;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }

    .about-second__right {
      max-width: 540px;
      width: 100%;
      .about-second__right__single-card {
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
        margin: 1.4rem 1rem 1.4rem 0;
        display: flex;
        img {
          margin: 2rem 1rem;
          height: 1.7rem;
        }
        div {
          h5 {
            margin-top: 2rem;
            font-size: 1rem;
            font-weight: 600;
          }
          p {
            display: none;
          }
        }
        &:hover {
          background: #33d2fd;
          p {
            padding: 1rem 0;
            display: inline-block;
            color: white;
          }
        }
      }
    }
  }
  /////////////////
  // ABOUT-THIRD
  /////////////////
  .about-third {
    display: flex;
    // height: 475px;
    background: #fafafc;
    justify-content: space-between;

    .about-third__left {
      img {
        display: block;
        width: 500px;
        margin-top: 3rem;
      }
    }
    .about-third__right {
      max-width: 470px;
      padding: 0 10px 0 0;
      h5 {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .android,
      .ios {
        display: flex;
        margin: 0.7rem auto;

        img {
          margin-right: 1rem;
        }
        h6 {
          font-size: 1rem;
          font-weight: 600;
        }
      }
      p {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
    }
  }
  /////////////////
  // APP
  /////////////////
  #app {
    background: url("/img/Marketing4-Vector-Bg.png") center center/cover;

    justify-content: space-around;

    .app-container {
      display: flex;

      img {
        display: block;
        margin: 6rem 10rem;
      }
      .app-container__card {
        width: 50%;
        margin-top: 260px; //
        margin-left: -100px;
        padding: 0;
        h5 {
          font-size: 2rem;
          font-weight: 700;
        }
        p {
          max-width: 450px;
          color: white;
          margin-top: 2.5rem;
          margin-bottom: -2rem;
          font-size: 1rem;
        }
        .app-container__card__icons {
          display: flex;
          flex-direction: row;
          margin-top: 2.5rem;
          img {
            width: 160px;
          }
        }
      }
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        display: block;
        position: relative;
        bottom: -35px;
        margin: 0 auto;
        width: 370px;
        height: 70px;
        background: linear-gradient(#fe7570, #f73987);
        border: none;
        color: white;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  /////////////////
  // INFO
  /////////////////
  .info-links {
    display: flex;
    justify-content: space-evenly;

    margin-top: 9rem;

    .info-links__single {
      h5 {
        font-size: 1rem;
        font-weight: 600;
      }
      ul {
        margin-top: 1rem;
        list-style: none;
        li {
          padding: 0.5rem 0;
        }
      }
    }
  }
  .info-newsletter {
    text-align: center;
    margin-top: 6.5rem;

    p {
      margin-top: 2rem;
    }
    form {
      margin: 4.5rem auto;
      max-width: 770px;
      display: flex;
      justify-content: space-between;
      input {
        width: 100%;
        height: 3rem;
        background: #f6f7fb;
        border: none;
      }
      input[type="submit"] {
        max-width: 170px;
        margin-left: 2rem;
        background: #33d2fd;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  /////////////////
  // FOOTER
  /////////////////
  .footer {
    background: #233148;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .social-links {
    margin-top: 0;
    a {
      margin: 0 1.5rem;
      &:nth-child(5) {
        margin: 0 0 0 1.5rem;
      }
    }
  }
}
